name: "VU-Server"
slug: "vu-server-addon"
description: "Add-on to run the Streacom VU1 Server for controlling VU1 dials"
panel_icon: "mdi:speedometer"
version: "0.3.3"
url: "https://github.com/leoherzog/home-assistant-vu1-server"
image: "ghcr.io/leoherzog/vu-server-addon-{arch}"
homeassistant: "2024.4.0"
stage: experimental
arch:
  - aarch64
  - amd64
hassio_api: true
init: false
ports:
  "5340/tcp": null
ports_description:
  "5340/tcp": "VU-Server API port (configure host port in HA for external access)"
ingress: true
ingress_entry: "/"
uart: true
usb: true
udev: true
backup_exclude:
  - "*.log"
  - "upload/tmp_*"
options:
  log_level: info
schema:
  log_level: "list(debug|info|warning|error)"
